body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.header {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-around;
}

.header > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header > ul > li {
  margin: 0 16px;
}

.header > h2 {
  font-size: 24px;
  color: #F9FAF8;
}

.header > ul > li > a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.sect-one {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 320px;
  padding: 80px;
}

.sect-one > img {
  max-height: 300px;
}

.sect-one > .hero > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.sect-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 64px;
}

.sect-two > h1 {
  padding: 16px;
}

.info-icons {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.info {
  max-width: 150px;
}

.info > p {
  margin-top: 0;
}

.info > img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 16px;
}

.sect-three {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 64px 20%;

}

.sect-three > p {
  max-width: 50%;
  color: #1F2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}
.sect-three > h3 {
  margin-left: 500px;
}

.sect-four {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;

}

.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3882F6;
  height: 100px;
  width: 40%;
  padding: 16px;
  border-radius: 8px;
}

.action-text {
  color: #F9FAF8;
}

.action-text > * {
  padding: 0;
  margin: 0;
}

button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  border: none;
  padding: 6px 28px;
  border-radius: 6px;
}

.sign-up {
  padding: 6px 24px;
  border: 1px solid white;
}